{% extends 'login_app/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Please Login</h1>

        <form method="post" action="{% url 'login_app:user_login' %}">
          {% csrf_token %}
          {# "HTML" way for login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password"></label>
          <input type="password" name="password" autocomplete="off">

          <input type="submit" name="" value="Login">

          <p></p>
          <p><b>Note:</b></p>
         <ul>
           <li><b>In case there is no one available to join the game,</b></li>
           <li><b>It waits for a pre-defined interval (20 sec), </b></li>
           <li><b>And checks again; before throwing an error</b></li>
          </ul>
        </form>


    </div>
  </div>
{% endblock %}
