{% extends "login_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Registration Successful! Go ahead and login now !</h1>
      {% else %}
        <h2>Go ahead and register below !</h2>
        <!--<h3>Just fill out the form.</h3>-->

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          <!--{{ profile_form.as_p }}-->
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
