{% extends "login_app/base.html" %}
{% load game_detail_tags %}
{% block body_block %}
  <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th>Game #</th>
      <th>Move Number</th>
      <th>Turn</th>
      <th>Draw Option</th>
      <th>Draw Card</th>
      <th>Meld Option</th>
      <th>Meld Cards</th>
      <th>Discard Card</th>
    </tr>
  </thead>
  <tbody>
    {% for move in game_moves %}
    <tr>
      <td> {{ move.game_id }} </td>
      <td> {{ move.move_number }} </td>
      <td> {{ move.turn }} </td>
      <td> {{ move.draw_option }} </td>
      <td> {% string_to_card move.draw_card %} </td>
      <td> {{ move.meld_option }} </td>
      <td> {% string_to_cards move.meld_cards %} </td>
      <td> {% string_to_card move.discard_card %} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
{% endblock %}