<!--TEMPLATE NOT IN USE RIGHT NOW-->
{% extends "login_app/base.html" %}
{% block body_block %}
    <div class="container">
    <div class="jumbotron">
      {% if your_turn %}
        <h2>Go ahead and register below !</h2>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Select">
        </form>
      {% else %}
        <h1>Not Your Turn</h1>
      {% endif %}

    </div>

  </div>

{% endblock %}