{% extends "login_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Hello! {{user_name }}</h1>
    <!--{% if user.is_authenticated %}-->
        <!--<h2>Welcome {{ user.username }}!</h2>-->
    <!--{% else %}-->
        <h3>To get started with Gin Rummy,

            <ul>
            <li>go ahead and register yourself first.</li>
          <li>If already registered, login and continue. Have a good game!</li></ul></h3>
    <!--{% endif %}-->
  </div>
</div>

{% endblock %}
