{% extends "game/base.html" %}
{% block turn_block %}
    <div class="turn_container">
        {% block gameplay_form %}
            {% if gameplay_form %}
                <form action="{% url 'game:meld_options' %}" method="post">
                    <h4>Options:</h4>
                    {% csrf_token %}
                    {% for choice in gameplay_form %}
                        {{ choice }}
                    {% endfor %}
                    <input type="submit" value="Select" />
                </form>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}