{% extends "login_app/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <h3>Deck Card: {{ current_card }}</h3>
        <h1>Turn: {{ turn }}</h1>
        <h4>Hand: {{ hand }}</h4>

        <form action="{% url 'game:turn' %}" method="post">
            <h4>Your Turn Options:</h4>
            {% csrf_token %}
            {% for choice in form %}
                {{ choice }}
                <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}" />-->
                <!--<label for="choice{{ forloop.counter }}">{{ choice }}</label><br />-->
            {% endfor %}
            <input type="submit" value="Select" />
        </form>

    </div>

  </div>

{% endblock %}